/* Общий фон и стиль шрифта */
/* Стили аккордеона */
.custom-accordion {
    margin: 20px auto;
}
.accordion-container {
    width:100%;
    height: 100%;
    color: white;
}

.accordion-item {
    border: none;
    margin-bottom: 5px;
    overflow: hidden;
    background: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accordion-button {
    background-color: #212121;
    color: #fff;
    padding: 25px 30px;
    border: none;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-button:not(.collapsed) {
    background-color: #212121;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.accordion-button:hover {
    background-color: #212121;
}

.accordion-button.collapsed {
    background: #212121;
}

/* Кнопка "+" и "-" */
.accordion-button::after {
    content: "+";
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    font-size: 22px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s;
}

.accordion-button.collapsed::after {
    transform: rotate(0deg);
    background-image: none;
}

.accordion-button:not(.collapsed)::after {
    content: "-";
    transform: rotate(180deg);
    background-color: #fdd835;
    background-image: none;
}

/* Контент внутри аккордеона */
.accordion-collapse {
    background: #212121;
    color: white;
}

.accordion-body {
    background-color: #212121;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}
