.quiz {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif; /* Шрифт */

}
.quiz-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom-left-radius: 20px; /* Закругление нижнего левого угла */
    border-bottom-right-radius: 20px; /* Закругление нижнего правого угла */
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 1.5;
}

.stage {
    display: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

}

.stage.show {
    display: block;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.back {
  background-color: #CBCBCB; /* Цвет кнопки */
  border-radius: 30px; /* Закругленные углы */
  width: 125px; /* Ширина кнопки */
  height: 45px; /* Высота кнопки */
  font-size: 14px; /* Размер текста */
  text-align: center; /* Выравнивание текста */
  font-weight:700;
  display: flex; /* Выровнять содержимое */
  justify-content: center; /* По горизонтали */
  align-items: center; /* По вертикали */
  padding: 5px; /* Внутренние отступы */
  border: none; /* Убрать границы */
  cursor: pointer; /* Указатель при наведении */
  color: #fff;
}
.next {
  font-weight:700;
  background-color: #FFCC63; /* Цвет кнопки */
  border-radius: 30px; /* Закругленные углы */
  width: 230px; /* Ширина кнопки */
  height: 45px; /* Высота кнопки */
  font-size: 14px; /* Размер текста */
  text-align: center; /* Выравнивание текста */
  display: flex; /* Выровнять содержимое */
  justify-content: center; /* По горизонтали */
  align-items: center; /* По вертикали */
  padding: 5px; /* Внутренние отступы */
  border: none; /* Убрать границы */
  cursor: pointer; /* Указатель при наведении */
}

.choose_house {
  font-size: 16px;
  margin-bottom: 5%;
  display: grid;
  gap: 2%; /* Расстояние между элементами */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Автоматическое распределение колонок */
  align-items: center;
  justify-content: center;
  img{
      width: 100%; /* Занимает всю ширину контейнера */
      height: auto; /* Автоматически рассчитывается */
      aspect-ratio: 1 / 1; /* Соотношение сторон 1:1 (квадрат) */
      object-fit: cover; /* Масштабирование изображения */
      object-position: center; /* Центрирование изображения */
  }
  p{
    color:black;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Отступ между кнопками */
  font-family: 'Montserrat', sans-serif; /* Шрифт */
  font-size: 18px; /* Размер текста */
  line-height: 1.5; /* Межстрочный интервал */
}

.custom-radio {
  display: flex;
  align-items: center;
  gap: 10px; /* Отступ между кружком и текстом */
  cursor: pointer;
}

.custom-radio input[type="radio"] {
  display: none; /* Скрываем стандартный элемент radio */
}

.custom-radio input[type="radio"] + .radio-label {
  position: relative;
  padding-left: 30px;
  color: black; /* Цвет текста */
}

.custom-radio input[type="radio"] + .radio-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Размер внешнего круга */
  height: 20px;
  border: 2px solid #F9A52B; /* Цвет обводки */
  border-radius: 50%; /* Делаем круг */
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-radio input[type="radio"]:checked + .radio-label::before {
  background-color: transparent; /* Внешний круг остается пустым */
  border-color: #F9A52B; /* Цвет обводки */
}

.custom-radio input[type="radio"]:checked + .radio-label::after {
  content: '';
  position: absolute;
  left: 2px; /* Положение внутреннего круга */
  top: calc(50%); /* Центрируем с небольшой поправкой */
  transform: translateY(-50%);
  width: 15px; /* Размер внутреннего круга */
  height: 15px;
  background-color: #F9A52B; /* Цвет внутреннего круга */
  border-radius: 50%; /* Делаем круг */
}
.images{
    border-radius:0px;
}

.quiz-form{
    margin-top:1%;
}
.title-quiz{
    margin-top:2%;
    color: black;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight:500;
}
.house_block {
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
}


.checkmark {
    position: absolute;
    width: 25px;
    height: 25px;
    top:-5px;
    left:-5px;
    background-color: #FFCC63;
    border-radius: 50%;
    display: none; /* Скрываем по умолчанию */
    align-items: center;
    justify-content: center;
}

.checkmark::after {
    content: '✔';
    color: black;
    font-size: 16px;
    text-align: center;
}

.house_block.selected .checkmark {
    display: flex; /* Показываем галочку только при выборе */
}

.choose_house {
  font-size: 16px;
  margin-bottom: 5%;
  display: grid;
  gap: 2%; /* Расстояние между элементами */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Автоматическое распределение колонок */
  align-items: start; /* Выровнять элементы по верхнему краю */
  justify-content: center;
}

.house_block {
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}

.house_block img {
  width: 100%; /* Занимает всю ширину контейнера */
  height: auto; /* Автоматически рассчитывается */
  aspect-ratio: 1 / 1; /* Соотношение сторон 1:1 (квадрат) */
  object-fit: cover; /* Масштабирование изображения */
  object-position: center; /* Центрирование изображения */
}

.house_block p {
  font-size:15px;
  margin: 10px 0 0 0; /* Отступ сверху для текста */
  color: black;
}
